@import url('https://fonts.googleapis.com/css2?family=Asta+Sans:wght@300..800&family=Chiron+GoRound+TC:wght@200..900&family=Nanum+Gothic&display=swap');

html {font-size:16px;}
body {font-family:"Nanum Gothic", sans-serif; font-style:normal; font-weight:400; margin:0px; padding:0px;}